body {
  padding-top: 10%;
  background: url("images/greek-vase.png") repeat center;
}
.list-wrapper {
  position: relative;
  background-color: lightgrey;
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "h1  button"
    "form form ";
  place-items: center;
  text-align: center;
  h1 {
    grid-area: h1;
  }
}
.pop-up {
  left: 0;
  top: 0;
  position: absolute;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #fff;
  padding: 1rem;
  z-index: 100;
  #new-item-form {
    display: grid;
    grid-template-rows: repeat(1fr);
    justify-items: start;
    gap: 1rem;
    text-align: left;
    label {
      width: 100%;
    }
    input[name="content"] {
      height: 5rem;
      width: 100%;
      overflow: hidden;
    }
    button {
      justify-self: center;
      width: 40px;
      height: 40px;
      border: 1px solid black;
      border-radius: 50%;
    }
  }
}
.list {
  grid-area: form;
  width: 100%;
  display: grid;
  margin-top: 2rem;
  border-top: 1px solid black;

  div {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "h3  time"
      "text time ";
    text-align: left;
    border-bottom: 1px solid black;
    h3 {
      grid-area: h3;
    }
    .item-content {
      grid-area: text;
    }
    .time-content {
      grid-area: time;
    }
  }
}
.add-button {
  grid-area: button;
  width: 30px;
  height: 30px;
  font-weight: 800;
  border-radius: 50%;
  right: 1rem;
  top: 2rem;
  background: linear-gradient(180deg, rgb(249, 249, 249), rgb(184, 184, 184));
}
.add-button:active {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
}
