.list-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  border: 1px solid black;
  grid-template-rows: auto min-content;
  text-align: center;
}
.item-title {
  text-align: left;
}
